<!DOCTYPE html>
<html lang="tr">

<head>
    <%- include('../includes/head.ejs') %>
        <title>Parola Sıfırlama</title>
</head>
<%- include('../includes/tctf-theme.ejs') %>

    <body>
        <div class="container">
            <%- include('../includes/navbar.ejs') %>
                <div class="ctel w-100">
                    <div class="header">
                        <h1>Parola Sıfırlama</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col offset-md-2 col-lg-6 offset-lg-3">
                        <div></div>
                        <form method="post" id="login" accept-charset="utf-8" autocomplete="off">
                            <div class="mb-3">
                                <b><label class="form-label" for="newpassword">Yeni Parola</label></b>
                                <input class="form-control" id="newpassword" name="name" required="" type="password"
                                    value="" />
                                <button class="isinlanma-butonu mt-3 w-100" id="_submit">Sıfırla</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </body>
    <%- include('../includes/jss.ejs') %>
        <script>
            $(document).ready(function () {
                $('#login').submit(function (e) {
                    e.preventDefault();
                    var password = $('#newpassword').val();
                    var data = {
                        password: password,
                        mail: "<%= mail %>",
                        code: "<%= code %>"
                    };

                    $.ajax({
                        url: '/api/user/resetpassword',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        success: function (data) {
                            if (data.message == "ok") {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Başarılı',
                                    text: 'Parolanız başarıyla değiştirildi.',
                                    confirmButtonText: 'Tamam'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = "/login";
                                    }
                                })
                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Hata',
                                    text: 'Parola değiştirilemedi.',
                                    confirmButtonText: 'Tamam'
                                })
                            }
                        }
                    });
                });
            });

        </script>

</html>