<!DOCTYPE html>
<html lang="tr">

<head>
  <%- include('../includes/head.ejs') %>
  <title>Profil</title>
</head>

<body class="bg-dark">
  <%- include('../includes/navbar.ejs') %>

  <div class="header flex-column">
    <h1><%= profileuser.username%> <% if(profileuser.isVerified == 1){%>
      <span class="badge badge-pill badge-success">Doğrulanmış</span>
      <%}%>

        <% if(profileuser.teamCaptain == 1){%>
      <span class="badge badge-pill badge-danger">Kaptan</span>
      <%}%></h1>
    <h4 style="color: rgb(200, 200, 200);"><%= profileuser.name%></h4>
      <div class="badges mb-2">



      </div>
      <div class=""><%= profileuser.point %><span class="badge badge-pill badge-info ml-1">Puan</span>
      </div>
      <% if (locals.user.username == profileuser.username) { %>
      <a class="badge badge-dark mt-3" href="/editprofile">Düzenle</a>
      <% } %>
  </div>
  <div class="container mt-5">
    <div class="d-flex flex-row justify-content-center">

      <div class="m-auto p-2 dark smooth-border">
        <h3 class="d-flex justify-content-center">Takım</h3>
        <h6 class="d-flex justify-content-center"><%= profileuser.teamName %></h6>
        <a class="btn btn-info mt-4 mr-4 ml-4 d-flex justify-content-center" href="/teams/<%= profileuser.teamId %>">Takım Detayları</a>
      </div>

      <div class="m-auto p-2 dark smooth-border">
        <h3 class="d-flex justify-content-center">Sorular</h3>
        <h6 class="d-flex justify-content-center">... Soru çözdü</h6>
        <a class="btn btn-info mt-4 mr-4 ml-4 d-flex justify-content-center" href="/users/<%= profileuser.id %>/solvedchallanges">Soruları Gör</a>
      </div>

      <div class="m-auto p-2 dark smooth-border">
        <h3 class="d-flex justify-content-center">İstatistik</h3>
        <span class="d-flex justify-content-center">
          <%= profileuser.created_at.split("T")[0].split("-").reverse()[0] + " " + 
              profileuser.created_at.split("T")[0].split("-").reverse()[1].replace("12","Aralık").replace("11","Kasım").replace("10","Ekim").replace("1","Ocak").replace("2","Şubat").replace("3","Mart").replace("4","Nisan").replace("5","Mayıs").replace("6","Haziran").replace("7","Temmuz").replace("8","Ağustos").replace("9","Eylül") +
              " " + profileuser.created_at.split("T")[0].split("-").reverse()[2]
            %> tarihinde katıldı
        </span>
      </div>

    </div>
  </div>
</body>
<%- include('../includes/jss.ejs') %>

</html>